{% set filterName = filter.name %}
{% set filterNameSlug = filter.name|slugify %}
{% set currentValue = app.request.get('dtfilter')[filterName]|default() %}

<li filter-name="{{ filterName }}" filter-type="{{ filter.type }}" class="dropdown {% if currentValue %}active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ filter.label|trans }} <span class="caret"></span></a>
    <ul class="dropdown-menu">
		<li><a parameter="dtfilter[{{ filterName }}]" key="" href="">-</a></li>
		<li role="separator" class="divider"></li>
		{% for key, value in filter.choices %}
		    {% if key == 'dropdown-separator' %}
		        <li role="separator" class="divider"></li>
		    {% else %}
		        <li class="{% if currentValue == key %}active{% endif %}">
		            <a parameter="dtfilter[{{ filterName }}]" href="" key="{{ key }}">{{ value }}</a>
		        </li>
		    {% endif %}
		{% endfor %}
    </ul>
</li>

<style>
    .navbar-filters .dropdown-menu {
        max-height: 320px;
        overflow-y: auto;
    }
</style>

<script>
    jQuery(document).ready(function() {
        jQuery("li.dropdown[filter-name={{ filterName }}] .dropdown-menu li a").click(function(e) {
            e.preventDefault();

            var parameter = jQuery(this).attr('parameter');
            var value = jQuery(this).attr('key');
            var current_url = $.fn.initDataTables.defaults.url;

            var new_url = addOrUpdateUriParameter(current_url, parameter, value);
            // replace the datatables ajax url with new_url and reload it
            new_url = normalizeAmpersand(new_url.toString());

            window.location.href = new_url;

            // mark this filter as active in the navbar-filters
            if (URI(new_url).hasQuery(parameter, true)) {
                jQuery("li[filter-name={{ filterName }}]").removeClass('active').addClass('active');
                jQuery("li[filter-name={{ filterName }}] .dropdown-menu li").removeClass('active');
                jQuery(this).parent().addClass('active');
            } else {
                jQuery("li[filter-name={{ filterName }}]").trigger("filter:clear");
            }
        });

        // clear filter event (used here and by the Remove all filters button)
        jQuery("li[filter-name={{ filterName }}]").on('filter:clear', function(e) {
            jQuery("li[filter-name={{ filterName }}]").removeClass('active');
            jQuery("li[filter-name={{ filterName }}] .dropdown-menu li").removeClass('active');
        });
    });
</script>
